::root {
    --verde: background: #009846;
}
main{
    gap: 10px;
}
ul {
    list-style: none;
    padding: 0;
}

.card-item {
    display: flex;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
}

.sidebar-rigth {
    position: relative;
    top: 0;
    right: 0;   
    padding: 20px;
    width: 50%;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #aab7cf transparent;
    box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
    background-color: #009846;
}

.slider-obj {
    background: #009846;
    z-index: 1;
    overflow-y: scroll;
    width: 100%;
    margin: 0;
}

/*----- BARRA SCROLL -----*/
.slider-obj.active::-webkit-scrollbar {
    -webkit-appearance: none;
}

.slider-obj.active::-webkit-scrollbar:vertical {
    width: 9px;
}

.slider-obj.active::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 20px;
}

/*TAMAÑOS DE PANTALLA*/
@media (min-width: 1823px){
    #main{padding: 20px 0px 20px 30px;}
    .sidebar-rigth{width: 50%}
}
@media (max-width: 1800px) {
    #main{flex-wrap: wrap;}
  }
@media screen and (min-width: 1001px) {
    .sidebar-rigth {
        margin: 0;
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    .sidebar-rigth{
        margin-left: 0;
        width: 100%;
    }
}

@media screen and (max-width: 690px) {
    .card-objc {width: 200px;}
    .slider-obj {
        width: 100%;
        margin-left: 0;
    }
}

@media screen and (max-width: 515px) {
    .card-objc {width: 100%;}
    .slider-obj {
        width: 100%;
        margin-left: 0;
    }
}
