.slider-obj > *{
    position: absolute;
    z-index: 0;
    opacity: 0;
    width: 0px;
    height: 100%;
    right: 0; 
    bottom: 0;
    top: 60px;
    transition: .4s ease-in-out;
    background: #009846; 
}

.slider-obj ul li {
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
    list-style: none;
    color: #fff;
    font-size: 20px;
    padding: 9px 0;
}

.slider-obj.active {
    right: 0px;
    background: #009846;
    z-index: 1;
    height: 100%;
    overflow-y: scroll;
    width: 400px;
}
.slider-obj.active > * {
    opacity: 1;
    width: 100%;
}
.slider-obj.active ul li, .slider-obj.active h2 {
    z-index: 1;
    top: 0px;
    height: 5%;
    margin-top: 5px;
}

.card-item{
    display: flex;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
}

/*----- BARRA SCROLL -----*/
.slider-obj.active::-webkit-scrollbar{-webkit-appearance: none;}
.slider-obj.active::-webkit-scrollbar:vertical{width: 9px;}
.slider-obj.active::-webkit-scrollbar-thumb{
  background-color: #ffffff;
  border-radius: 20px;
} 

@media screen and (max-width: 690px) {
    .card-objc{width: 200px;}
    .slider-obj.active{width: 80%;}
}
@media screen and (max-width: 515px) {
    .card-objc{width: 100%;}
    .slider-obj.active{width: 100%;}
} 
